---
import type { GetStaticPathsOptions, Page } from "astro"
import type { CollectionEntry } from "astro:content"

import { getCollection } from "astro:content"

interface Props {
  page: Page<CollectionEntry<"blog">>
}

import BlogLayout from "@/layouts/BlogLayout.astro"
import Aside from "@/components/Aside.astro"
import Pagination from "@/components/Pagination.astro"
import PostExcerpt from "@/components/PostExcerpt.astro"

import { getFormattedDate, getUniqueTags, sortMDByDate } from "@/lib"

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog")
  const sortedPosts = sortMDByDate(posts)
  const uniqueTags = getUniqueTags(posts)

  return paginate(sortedPosts, { props: { uniqueTags }, pageSize: 4 })
}

const { page, uniqueTags } = Astro.props
---

<BlogLayout
  title="Velocidad de Escape"
  description="Personal blog by Andrés Bedoya. I just want to share some personal things and others related to the headaches that programming produces."
>
  <div class="container mx-auto mb-16 px-4 md:px-0">
    <div class="flex flex-wrap">
      <Aside tags={uniqueTags} />
      <div class="w-full lg:w-3/4 lg:pl-8 xl:pl-12">
        <section>
          {
            page.data.map(({ slug, body, data: { title, pubDate, tags } }) => {
              return (
                <article class="mb-12">
                  <header class="mb-4 flex items-end gap-6 border-b border-dashed border-slate-900 pb-1">
                    <time class="font-text pb-1 text-xs" datetime={pubDate.toDateString()}>
                      /{getFormattedDate({ date: pubDate })}
                    </time>
                    <h2 class="font-header text-3xl font-bold text-slate-900">
                      <a href={slug}>{title}</a>
                    </h2>
                  </header>
                  <p class="font-text mb-4">
                    <PostExcerpt text={body} maxLength={210} />
                  </p>
                  <div class="flex justify-end gap-4">
                    {tags?.map(tag => (
                      <p class="bg-slate-900 px-2 py-1 text-sm text-white">{tag}</p>
                    ))}
                  </div>
                </article>
              )
            })
          }
        </section>
        <Pagination page={page} url="/" />
      </div>
    </div>
  </div>
</BlogLayout>
